.book-image {
    width: 50%;
    height: auto;
}

.book-description {
    width: 80%;
    height: 250px;
    overflow-y: scroll;
}

.left-column {
    padding: 20px;
    backdrop-filter: blur(5px);
    border-radius: 10%;
}

.right-column {
    padding: 20px;
    backdrop-filter: blur(5px);
    border-radius: 10%;
}
